<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gusya - Ощипать ваши ссылки{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="manifest" href="/static/site.webmanifest">


    {% block head_js %}{% endblock %}
    {% block head_css %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    <script>
        // Theme toggle
        const themeToggle = document.getElementById('themeToggle');
        const html = document.documentElement;

        // Check for saved theme preference or use preferred color scheme
        if (localStorage.getItem('theme') === 'dark' || (!localStorage.getItem('theme') && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            html.classList.add('dark');
            html.setAttribute('data-theme', 'dark')
            // themeToggle.classList.add('dark');
        }

        themeToggle.addEventListener('click', () => {
            html.classList.toggle('dark');
            // themeToggle.classList.toggle('dark');

            // Save preference to localStorage
            if (html.classList.contains('dark')) {
                localStorage.setItem('theme', 'dark');
                html.setAttribute('data-theme', 'dark')
            } else {
                html.setAttribute('data-theme', 'light')
                localStorage.setItem('theme', 'light');
            }
        });
    </script>
    {% block extra_js %}{% endblock %}
    {% block extra_css %}{% endblock %}
</body>
</html>